@import 'vars';
@import 'global';
@import 'fonts';

// start header
.header{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    ul{
        display: flex;
        li a{
            padding-left: 50px;
            font-size: 15px;
            text-transform: uppercase;
            color: #fff;
            transition: all .3s;
            &:hover{
                color: $blue;
                cursor: pointer;
            }
        }
    }
}
.header__other{
    display: flex;
    align-items: center;
    justify-content: center;
    & a{
        color: #fff;
        font-size: 14px;
    }
    &-basket{
        margin-left: 22px;
        padding-left: 20px;
        position: relative;
        & span{
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $blue;
            width: 20px;
            padding-top: 5px;
        }
        &::before{
                content: "\f07a";
                position: absolute;
                font-family: 'icomoon';
                top: 2px;
                left: 0;
                transition: all .3s;
            }
    }
}
.header__slider{
    color: #fff;
    margin-top: 325px;
    text-align: center;
}

.header__slider-title{
    text-transform: uppercase;
    font-size: 60px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    position: relative;
    &::before{
        content:'';
        position: absolute;
        width: 150px;
        height: 6px;
        background-color: $blue;
        bottom: 0px;
        left: 44%;
    }
}
.header__slider-text{
    margin: 0 auto;
    line-height: 25px;
    max-width: 570px;
}
.header__slider-btn{
    border: 3px solid #fff;
    padding: 16px 38px;
    margin-top: 28px;
    color: #fff;
    transition: all .3s;
    cursor: pointer;
    &:hover{
        border: 3px solid $blue;
        color: $blue;
    }
}
.slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 322px;
    padding-bottom: 30px;

    li{
        width: 7px;
        height: 7px;
        background-color: #fff;
        margin-left: 10px;
    }
    button{
        display: none;
    }
    .slick-active{
        background-color: $blue;
    }
}
// end header
//start about
.about__title,
.works__title,
.news__title{
    background-color: $blue;
    max-width: 328px;
    width: 100%;
    height: 92px;
    transform: rotate(-5deg);
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 112px;
    margin-bottom: 84px;
    h3{
        transform: rotate(5deg);
    }
}
.about__box{
    display: flex;
    justify-content: space-between;
}
.about__images{
    background-color: $blue;
    min-width: 449px;
    height: 449px;
    position: relative;
    margin-left: 12px;
    margin-right: 124px;
    img{
        width: 441px;
        height: 441px;
        border: 5px solid #9acced;
        position: absolute;
        top: 68px;
        left: 68px;    
    }
}
.about__info{
    margin-left: 9px;
    .about__info-title{
        font-size: 30px;
        color: $text;
        padding-bottom: 22px;
        margin-bottom: 34px;
        position: relative;
        &::before{
            content:"";
            position: absolute;
            width: 50px;
            height: 3px;
            background-color: $blue;
            bottom: 0;
            left: 0;
        }
    }
    .about__info-text{
        font-size: 16px;
        line-height: 25px;
        color: #bbb;
    }
}
.about__info-box{
    margin-top: 40px;
    margin-bottom: 36px;
    &::before{
        content:"";
        position: absolute;
        width: 3px;
        height: 102px;
        background-color: $blue;
    }
    .about__info-goal{
        padding-left: 29px;
        padding-bottom: 11px;
        padding-top: 5px;
        font-size: 20px;
        position: relative;
        span{
            color: #bbb;
            font-weight: 500;
        }
    }
}
.about__info-btn{
    color: #fff;
    font-size: 18px;
    background-color: $blue;
    padding: 18px 24px 15px 50px;
    position: relative;
    &::before{
        content: "\f07b"; 
        font-family: 'icomoon';
        position: absolute;
        font-size: 18px;
        bottom: 17px;
        left: 15px;
    }
}
.about__advantages{
    display: flex;
    justify-content: space-between;
    margin-top: 98px;
    margin-bottom: 144px;
}
.about__advantages-item{
    text-align: center;
    max-width: 358px;
    .about__advantages-images{
        border: 2px solid $blue;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 28px;
        &:hover{
            background: linear-gradient(119deg, rgba(148,202,237,1) 0%, rgba(0,153,255,1) 100%);
            transition: all .5s;
        }
        &:hover svg path{
            fill: #fff;
            transition: all .5s;
        }
    }
    .about__advantages-title{
        font-size: 20px;
        color: $text;
        margin-bottom: 16px;
    }
    .about__advantages-text{
        font-size: 16px;
        color: #bbb;    
    }
}
//end about
//start works
.works__wrapper{
    max-width: 1920px;
    margin: 0 auto;
}
.works__inner-btn{
    text-align: center;
    margin-bottom: 76px;
    button{
        border: none;
        font-size: 14px;
        font-weight: 700;
        background-color: #fff;
        cursor: pointer;
        color: $text;
        text-transform: uppercase;
    }
    .mixitup-control-active{
        outline: none;
        color: $blue;
    }
}
.works__inner-box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
.works__item{
    width: 25%;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto auto;
    position: relative;
    &:hover{     
        .works__item-info{
            height: 400px;
            padding-top: 300px;
        }
    }
}
// background-color: rgba(#606265, 0.5);
.works__item-info{
    height: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 38px;
    background-color: rgba(#606265, 0.5);
    bottom: 0;
    width: 100%;
    overflow: hidden;
    color: #fff;
    transition: all .5s;
    a{
        color: #fff;
        padding-bottom: 20px;
        font-size: 20px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-color: $blue;
            height: 5px;
            width: 50px;
            bottom: 0;
        }
    }
    .item__description{
        margin-top: 12px;
        font-size: 14px;
    }
}
//end works
// start news
.news__inner{
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}
.news__item{
    max-width: 340px;
    &:hover{
        .item__images-info{
            left: 0;
            
        }
        .news__item-title{
            color: $blue;
        }
    }   
}
.item__images{
    position: relative;
    overflow: hidden;
    img{
        width: 340px;
        height: 320px;
    }
    .item__images-info{
        position: absolute;
        top: 40%;
        left: -340px;
        color: #fff;
        text-align: center;
        padding-top: 34px;
        padding-bottom: 32px;
        background-color: rgba($blue, .5);
        width: 100%;
        transition: all .8s;
        font-size: 14px;
    }
}
.news__item-title{
    font-size: 24px;    
    text-transform: uppercase;
    color: $text;
}
.news__sub-title{
    margin-top: 10px;
    font-size: 14px;
    color: #bbb;
}
.news-text{
    color: #bbb;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
}
// end news
// start quote
.quote{
    background-color: #c8d1d8;
}
.quote__inner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 700px;
}
.quote__box{
    max-width: 415px;
}
.quote__element{
    color: #94bad7;
    font-size: 0px;
}
.quote__text{
    font-size: 15px;
    color: #aaaaaa;
    position: relative;
    &::before{
        content:'“';   
        color: #94bad7;
        position: absolute;
        font-size: 200px;
        top: -90px;
    }
}

.quote__title{
    font-size: 30px;
    color: $text;
    text-align: right;
    padding-top: 26px;
}
.quote__sub-title{
    font-size: 14px;
    color: #aaaaaa;
    text-align: right;
}
// end quote


@import '_media';
